.toast {
  visibility: hidden;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 48px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 48px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
